# Commands
apt-get -y install ubuntu-desktop --no-install-recommends
export http_proxy=http://www-proxy.ericsson.se:8080
export https_proxy=https://www-proxy.ericsson.se:8080
add-apt-repository -y ppa:webupd8team/java
apt-get update
echo debconf shared/accepted-oracle-license-v1-1 select true | sudo debconf-set-selections
echo debconf shared/accepted-oracle-license-v1-1 seen true | sudo debconf-set-selections
apt-get -y install oracle-java7-installer
export http_proxy=
export https_proxy=
useradd -d /home/ericdev -m ericdev -p saOn129tXwreg
adduser ericdev admin
adduser ericdev sudo
addgroup ideadm
adduser ericdev ideadm
